{% extends 'layout.html' %}


{% block content %}
<h2>hello everyone....</h2>
<h1 align="center"><font color="orange"><u>MY FAVOURITE GAMES</font></u></h1>
			<hr color="blue">
			<ol>
					<li><h3 align="left"><font color="green">CRICKET</font></h3></li>
				<ul type="square">
					<li>It is most famous and passionate sports of India for many years</li>
					<li>It is hard but simple game if practiced</li>
					<li>The game consists of team of 11 players</li>
					<li>It is fun watching this game</li>
				</ul>
					<li><h3 align="left"><font color="green">Badminton</font></h3></li>
				<ul type="square">
					<li>It is fastest racket game in the world</li>
					<li>It is played with racket and shuttlecock</li>
					<li>It just requires two players for minimum</li>
					<li>It feeds my body to become healthy</li>
					<li>It helps body to develop stamina and strenghten our body</li>
				</ul>
			</ol>

{% endblock %}
