<!doctype>
<html>
	<head>
		<title>
		MY BIO-DATA
		</title>
	</head>
	<body align="left">
			<h1 align="center"><font color="black"><u>BIO-DATA</font></u></h1><hr color="blue"
			<ol>
			<li><h3>NAME                 :MEGHA GUPTA   </h3></li>
			<li><h3>FATHER'S NAME        :UMESH GUPTA   </h3></li>
			<li><h3>MOTHER'S NAME        :SUNITA GUPTA   </h3></li>
			<li><h3>GENDER               :FEMALE          </h3></li>
			<li><h3>DATE OF BIRTH        :31-01-1997      </h3></li>
			<li><h3>QUALIFICATION        :ENGINEERING     </h3></li>
			<li><h3>BRANCH               :COMPUTER SCIENCE ENGINEERING</h3></li>
			<li><h3>EMAIL ID             :1605125@kiit.ac.in</h3></li>
			</ol>
			<h3>          </h3>
			<h3>          </h3>







	</body>
</html>
